@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{    font-family: 'Rubik';
    box-sizing: border-box;

}
body, html {
    font-family: 'Staatliches', sans-serif;
    scroll-behavior: smooth;
    background-color: #59e3c8;
    background-image: (rgb(30, 143, 236),rgb(183, 255, 248));
    align-items: center;
    height: 100%;
    text-align: center;

    
  }
#main img[src="BackgroundImage.png"]{
    position: absolute;
}
.test{
    width: 100%;
    z-index: 10;
}
.cool-title {
    margin-bottom: -50px;
    margin-top:-15px;
}
.main{
background-color: rgb(125, 230, 236);


}
.islands{
    font-family:'Rubik';
    text-align: center;

}
.topnav{
    font-family: 'Staatliches', sans-serif;
    background-color: #59e3c8;
    text-align:left;
    color:black;
    flex: 1;
    justify-content: space-around;


}
.tablink{
    background-color: rgb(105, 105, 222);
    color:rgb(255, 255, 255);
    height:50px;
    size:20px;
    float: left;
    width:20%;
    text-size-adjust: 100px;
  
}
head {
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    background: #59e3c8;
    color: white;
    font-size:60px;
  }

h3{    
    font-family: 'Staatliches', sans-serif;
    font-size:60px;

}
h1{
    font-family: 'Staatliches', sans-serif;
    font-size:80px;
    color:rgb(28, 28, 95);
    
}
h2{
    font-family:'Rubik';
    font-size:40px;
    color:rgb(57, 120, 50);
}
p{
    font-size:50px;
    font-family: 'Rubik';
}
#small-title{
    font-family: 'Rubik';
    font-size:20px;
    color:rgb(154, 154, 189);
    margin-bottom: 50px;
     
}
#Science{
    background-color: rgb(252, 164, 164);
}
#Technology{
    background-color: rgb(255, 215, 139);
}
#Engineering{
    background-color: rgb(255, 255, 176);
}
#Mathematics{
    background-color: rgb(115, 174, 115);
}
#Finance{
    background-color: rgb(181, 181, 255);
}
.final{
    background-color: rgb(105, 105, 222);
    size:20px;
    font-family: 'Rubik';
}
.tamuHack{
    background-color:#1abc9c;
    size:15px;
}
#newbody {
    background-image: url("fbc0e13b-bd89-4da6-bb62-15f71497ff7a.jpg");
}

.block{
    position: relative;
    height: 50px;
    width: 50px;
    
}

.blockimg
{
    height: 50px;
    width: 50px;
}
.block2{
    height: 50px;
    width: 50px;

}
.block2img {
    height: 100px;
    width: 100px;
}
.blockimg3{
    width:200px;
    height: 200px;

}
.mymodal{
    top: 100px;
    bottom:1
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 100px;
    width: 100px;
    align-items:center;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }