@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&family=Rubik&display=swap');
*{    font-family: 'Rubik';
    box-sizing: border-box;

}
body, html {
    font-family: 'Rubik';
    scroll-behavior: smooth;
    background-color: rgb(117, 199, 243);
    background-image: (rgb(30, 143, 236),rgb(183, 255, 248));
    align-items: center;
    height: 100%;
    text-align: center;

    
  }
#main img[src="BackgroundImage.png"]{
    position: absolute;
}
.test{
    width: 100%;
    z-index: 10;
}
.cool-title {
    margin-bottom: -50px;
    margin-top:-15px;
}
.main{
background-color: rgb(172, 216, 218);
position: relative;
}
.islands{
    font-family: 'Rubik';

    position:absolute;
    text-align: center;

}
.topnav{
    font-family: 'Rubik';
    background-color: #1abc9c;
    text-align:left;
    color:black;
    flex: 1;
    justify-content: space-around;


}
.tablink{
    background-color: rgb(105, 105, 222);
    color:rgb(255, 255, 255);
    width: 20%;
    float: left;
}
head {
    font-family: 'Rubik';
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size:60px;
  }

h3{    
    font-family: 'Rubik';
    font-size:60px;

}
h1{
    font-family: 'Rubik';
    font-size:80px;
    color:rgb(28, 28, 95);
    
}
h2{
    font-family:'Rubik';
    font-size:40px;
    color:rgb(57, 120, 50);
}
p{
    font-size:50px;
    font-family: 'Rubik';
}
#small-title{
    font-family: 'Rubik';
    font-size:20px;
    color:rgb(154, 154, 189);
    margin-bottom: 50px;
     
}
#Science{
    background-color: rgb(252, 164, 164);
}
#Technology{
    background-color: rgb(255, 215, 139);
}
#Engineering{
    background-color: rgb(255, 255, 176);
}
#Mathematics{
    background-color: rgb(165, 255, 165);
}
#Finance{
    background-color: rgb(181, 181, 255);
}
.tamuHACK{
    background-color: rgb(105, 105, 222);
    color:rgb(255, 255, 255);
    width: 20%;
    float: left;
    font-family: 'Rubik';
}