*{
    box-sizing: border-box;
}
body, html {
    scroll-behavior: smooth;
    background-color: #dae9a2;

    align-items: center;
    /* height: 100% */
    text-align: center;
    
  }
.tablink{
    background-color: rgb(105, 105, 222);
    color:rgb(255, 255, 255);
    width: 20%;
    float: left;
}
head {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

h3{
    font-size:60px;
}
h1{
    font-size:100px;
}
p{
    font-size:50px;
}
#Science{
    background-color: rgb(252, 164, 164);
}
#Technology{
    background-color: rgb(255, 215, 139);
}
#Engineering{
    background-color: rgb(255, 255, 176);
}
#Mathematics{
    background-color: rgb(165, 255, 165);
}
#Finance{
    background-color: rgb(181, 181, 255);
}
.tamuHACK{
    background-color: rgb(105, 105, 222);
    color:rgb(255, 255, 255);
    width: 20%;
    float: left;
}